:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  font: 18px/145% system-ui, sans-serif;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: var(--ios-bg);
}

#root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  min-height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  box-sizing: border-box !important;
  max-width: none !important;
  border-inline: none !important;
  text-align: left !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}